<!-- User Home Page -->
<div class="container">
	<h1>Welcome, <%= @user.full_name %>!</h1>
	<h3><%= link_to "Public Page", user_posts_path(@user) %></h3>
</div>

<!-- User Profile Info -->
<%= render 'users/profile' %>

<!-- Posts (for user and user's friends) -->
<%= content_for :header_title, "My Feed" %>
<%= render 'posts/timeline_posts' %>

<!-- User's Friends Section -->
<%= render 'friendships/friends' %>