<div class="container-fluid jumbotron">
	<div class="container">
		
		<div class="row">
			<div class="col-xs-12 col-sm-8">

				<div class="jumbotron-left-col">
					<h2>A place to <span class="strong-em">record your thoughts</span></h2>
					<p>Explore the world around you and build lasting memories through blogging!</p>
					<h2>A place to <span class="strong-em">share your experiences</span></h2>
					<p>Find your friends and share your experiences with them!</p>
					<h2>A place to <span class="strong-em">explore the world</span></h2>
					<p>See what adventures other users around the world are involved in!</p>
				</div>
				
			</div>

			<div class="col-xs-12 col-sm-4">
				<!-- move signup form into partial and render it here -->
				<div class="signup-form">
					<h2>Sign up</h2>
					<%= form_for(:user, :url => registration_path(:user)) do |f| %>
					  
					  <div class="field">
					    <%= f.label :first_name %><br>
					    <%= f.text_field :first_name, autofocus: true %>
					  </div>

					  <div class="field">
					    <%= f.label :last_name %><br>
					    <%= f.text_field :last_name %>
					  </div>

					  <div class="field">
					    <%= f.label :email %><br>
					    <%= f.email_field :email %>
					  </div>

					   <div class="field">
					    <%= f.label :email_confirmation %><br>
					    <%= f.email_field :email_confirmation %>
					  </div> 

					  <div class="field">
					    <%= f.label :password %>
					    <% if @minimum_password_length %>
					    <em>(<%= @minimum_password_length %> characters minimum)</em>
					    <% end %><br>
					    <%= f.password_field :password, autocomplete: "off" %>
					  </div>

					  <div class="field">
					    <%= f.label :password_confirmation %><br>
					    <%= f.password_field :password_confirmation, autocomplete: "off" %>
					  </div>

					  <div class="field">
					    <%= f.label :birthday %><br>
					    <%= f.date_field :birthday %>
					  </div>

					  <div class="field">
					    <%= f.label :gender %><br>
							<%= f.label :gender, "Female" %>
					    <%= f.radio_button :gender, "F" %>
					    <%= f.label :gender, "Male" %>
					    <%= f.radio_button :gender, "M" %>
					  </div>

					  <div class="actions">
					    <%= f.submit "Sign up", class: "btn btn-default" %>
					  </div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>