<% if @user == current_user %>

<div class="container">
	<!-- Users can post on their own walls -->
	<div class="panel panel-default">
		<div class="panel-body">

		
			<%= form_for([@user, @post]) do |f| %>
				<%= f.label :content %><br>
				<%= f.text_area :content, size: "50x10" %><br>

				<%= f.submit "Create Post!", class: "btn btn-primary" %>

				<%= f.hidden_field :id, value: @user %>
			<% end %>
	
		</div>
	</div>
</div>

<% end %>