<!-- List of Posts:
		 1. When used in the user#show view (landing page on signin), @posts is the posts for the given user and his/her friends.
		 2. When used in the posts#index view (user's public profile page), @posts is the posts for the given user only.
-->

<div class="container">

	<h3><%= yield(:header_title) %></h3>

	<% if @posts.empty? %>
		<p><%= @user.first_name %> hasn't posted yet!</p>
	<% end %>

	<% @posts.each do |post| %>
		
		<!-- used during development to see what objects were created:
		<p><%= post.inspect %></p> 
		-->

		<div class="panel panel-default">
				
			<div class="panel-body">
				<p><strong>Author:</strong> <%= link_to post.user.full_name, user_posts_path(post.user) %></p>
				<p><strong>Post:</strong> <%= post.content %></p>
				<p><strong>Date:</strong> <%= post.created_at %></p>
				<p class="btn btn-primary"><%= pluralize(post.likes.count, "like") %></p>

				<!-- add a like if you haven't already liked this post -->
				<% unless post.likes.find_by(user_id: current_user.id) %>
				<%= link_to "Like", likes_path(post_id: post.id), method: :post, class: "btn btn-success" %>
				<!-- unlike this post if you've liked it already -->
				<% else %>
				<!-- chose to provide a default id vlaue of 1, as the route requires a non-nil value for the id parameter.
					   note, the actual post is identified by the controller's before actions -->				
				<%= link_to "Unlike", like_path(id: 1, post_id: post.id), method: :delete, class: "btn btn-danger" %>
				<% end %>

				<!-- current user can delete his/her posts -->
				<% if post.user == current_user %>
				<p><%= link_to "Remove Post", user_post_path(user_id: @user, id: post), method: :delete %></p>
				<% end %>
			</div>
			
			<!-- List of Post's Comments -->
			<%= render 'comments/post_comments', post: post %>
			
			<!-- Section to Add Comments -->
			<%= render 'comments/comment_form', post: post %>
	</div>

	<% end %>
</div>