<!-- User's Public Profile Page -->
<div class="container">
	<h1><%= @user.full_name %></h1>
</div>

<!-- Profile Info -->
<div class="container">
<%= render 'users/profile' %>
</div>

<!-- New Post Section -->
<div class="container">
<%= render 'posts/post_form' %>
</div>

<!-- Posts (user and user's friends) -->

<div class="container">
	<h3><%= @user.full_name %>'s Wall</h3>
</div>

<%= render 'posts/timeline_posts' %>