<!-- User's Public Profile Page -->
<div class="container-fluid body-content">

	<div class="container">

		<h1 class="pull-left"><%= @user.full_name %></h1>

		<!-- Show friend buttons -->
		<div class="pull-right friend-button-box">
			<%= render 'friendships/friend_buttons', user: @user %>
		</div>
	</div>

	<!-- Profile Info -->
	<%= render 'users/profile' %>

	<!-- New Post Section -->
	<%= render 'posts/post_form' %>

	<!-- Posts (user's posts only) -->
	<%= content_for :header_title, "#{@user.full_name}'s Posts" %>
	<%= render 'posts/timeline_posts' %>

</div>