<header class="container-fluid site-header">

	<% if user_signed_in? %>
		<!-- Logged In Header -->
		<div class="container">
				
			<!-- Logo -->
			<div class="pull-left logo">
				<h1>
					<a href="/">clonebook</a>
				</h1>
			</div>		

			<!-- Log Out Link -->
			<div class="pull-right">
				<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>     
			</div>
			
			<!-- Pending Friends Link -->
			<div class="pull-right">
				<%= link_to 'Pending Friend Requests', friendship_path(current_user) %>
			</div>

		</div>

	<% else %>
		<!-- Logged Out Header -->
		<div class="container">
				
			<!-- Logo -->
			<div class="pull-left logo">
				<h1>
					<a href="/">clonebook</a>
				</h1>
			</div>

			<!-- Login Form -->
			<div class="pull-right login-small">
				<%= form_for(:user, :url => session_path(:user)) do |f| %>
					<%= f.label :email %>
					 <%= f.text_field :email %>
	 				 <%= f.check_box :remember_me %>
					 <%= f.label :remember_me %>

					 <%= f.label :password %>
					 <%= f.password_field :password %>
					 <%= link_to "Forgot your password?", new_password_path(:user) %><br>

					 <%= f.submit 'Sign in' %>
				<% end %>
			</div>

		</div>
		
		<!-- Signin w/ Facebook using Omniauth -->
		<div>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>	
		</div>

	<% end %>
		
</header>